<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <file>src/Infrastructure/Users/Models/User.php</file>
            <file>src/Infrastructure/Tasks/Repositories/EloquentCommentTaskRepository.php</file>
            <file>src/Infrastructure/Tasks/Observers/CommentTaskObserver.php</file>
            <file>src/Infrastructure/Tasks/Models/CommentTask.php</file>
            <file>src/Infrastructure/Tasks/Events/UserRememberPassword.php</file>
            <file>src/Infrastructure/Tasks/Events/UserCreated.php</file>
            <file>src/Infrastructure/Tasks/Events/CommentTaskUpdatedSend.php</file>
            <file>src/Infrastructure/Tasks/Events/TaskCreatedSend.php</file>
            <file>src/Application/Tasks/Dto/CommentTaskDto.php</file>
            <file>src/Infrastructure/Tasks/Events/CommentTaskCreatedSend.php</file>
        </exclude>
    </source>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <report>
            <clover outputFile="build/logs/clover.xml"/>
        </report>
    </coverage>
</phpunit>



