APP_ENV=testing
APP_KEY='base64:a89Bj62VIrzfDCsb3m8BNU+JedVKtEZEmqif25fR2g0='
BCRYPT_ROUNDS=4
CACHE_DRIVER=array
DB_CONNECTION=sqlite
DB_DATABASE=:memory:
MAIL_MAILER=array
QUEUE_CONNECTION=sync
SESSION_DRIVER=array
BROADCAST_DRIVER=null
PULSE_ENABLED=false
TELESCOPE_ENABLED=false
XDEBUG_MODE=coverage
XDEBUG_CONFIG=client_host=host.docker.internal
